.productList {
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.productListButton {
    display: inline-block;
    height: auto;
    width: auto;
    border-radius: 7px;
    margin: 3px 5px;
    color: #FFF;
    padding: 14px 20px;
    cursor: pointer;
}

.productListButtonShow {
    background-color: #007bff;
}

.productListButtonRemove {
    background-color: #dc3545;
}

.productListButtonEdit {
    background-color: #ffc107;
}

.productListButtonEnable {
    background-color: #28a745;
}

.productListButtonDisable {
    background-color: #dc3545;
}

.productListButton:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card {
    cursor: pointer;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.card .buy a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 50px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: green;
    background: #FFF;
}


.card .label {
    background-color: green;
    -webkit-box-shadow: 0px 0px 30px #000;
    box-shadow: 0px 0px 30px #000;
    text-shadow: 0px 0px 5px #fff;
    -webkit-transform: rotate(45deg);
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    left: 35%;
    top: 5%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    /*font-family: "Arial Black";*/
    z-index: 100;
}

.card h2 {
    width: 65%;
    position: relative;
    left: 10px;
    font-size: 25px;
    color: #555;
}

.card p {
    position: relative;
    left: 10px;
    width: 70%;
    font-size: 13px;
    color: #555;
}

.card .price {
    position: relative;
    left: 10px;
    width: 70%;
}

.card .price .rs {
    position: relative;
    left: 10px;
    width: 70%;
    font-size: 17px;
    color: #388E3C;
}

.card .price .value-big {
    position: relative;
    left: 10px;
    width: 70%;
    font-weight: bold;
    font-size: 50px;
    color: #33691E;
}

.card ul li {
    padding: 4px 2px;
    border-bottom: 1px solid #999;
    font-size: 10px;
}